html, body {
  padding: 10px;
  margin: 10px;
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  box-sizing: border-box;
  padding: 15px;
}
.add-word-form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  height: 28px;
  font-size: 16px;
}

.word-table {
  width: 100%;
  border-collapse: collapse;
}

.word-table th,
.word-table td {
  padding: 8px;
  border: 1px solid #ccc;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 1px;
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}
  
.group-form {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.group-button {
  font-size: 16px;
  height: 28px;
  padding: 0 10px;
  min-width: 150px;
}
.delete-group-button,
.rename-group-button{
  font-size: 16px;
  height: 28px;
  padding: 0 10px;
  min-width: 28px;
}
.group-conteiner {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 10px;
  width: 100%;
}
.group-header {
  display: flex;
  align-items: center;
  gap: 5px;
}
.actions-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: nowrap;
}
.actions-container button,
.actions-container select {
  gap: 10px; 
  height: 28px;
  padding: 0 15px;
  font-size: 16px;
  line-height: 26px;
  width: 147px;
  height: 28px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.button-link {
  display: inline-block;
  height: 30px;
  line-height: 28px;
  padding: 0 15px;
  background-color: #4CAF50;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
  margin-top: 20px;
}
.button-link:hover {
  background-color: #45a049;
}

.group-word-list {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}

.group-word-list li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  margin-bottom: 5px;
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  font-weight: 400;
}

.page-layout {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.word-section {
  flex: 2;
  padding-right: 20px;
}

.group-section {
  flex-grow: 1;
  padding-left: 20px;
  border-left: 1px solid #ccc;
}

.add-group-button {
  white-space: nowrap;
  min-width: 130px;
  height: 28px;
  font-size: 10px;
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  font-weight: 400;
}
.section-title{
  font-size: 24px;
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  margin-bottom: 15px;
  text-align: center;
}

.section-text{
  font-size: 16px;
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  margin-bottom: 15px;
  text-align: center;
}

.little-text{
  font-size: 10px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
  margin-bottom: 15px;
  text-align: center;
}
.word-table-wrapper{
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: 20px;
  border: 1px solid #ccc;
}
